#notice_card {
    position: fixed;
    background: #1f1f2d;
    width:100%;
    top:0px;
    margin: 0px auto;
    border-radius: 0 0 12px 12px;
    border-top: 6px solid #00D600;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    padding: 2px;
    text-align: center;
    z-index: 10000;
    opacity: 0;
}

.notice_time{
    position: absolute;
    top: 8px;
    right: 8px;
    font-family:Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: bold;
    color: #b3c7ff;
}
.notice_product {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: inherit;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.notice_product.active {
    opacity: 1;
    visibility: visible;
}

.notice_img img{
    height: 80px;
}
.notice_title{
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    line-height: 1.8rem;
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottome: 5px;
    background-image: -webkit-linear-gradient(left, #FF9115,#FFE873 10%, #FFB833 20%, #ffb268 30%, #FF9D3A 40%, #FFE873 50%,#a0ff56 60%,#FFE873 70%,#FF9D3A 80%,#FFE873 90%,#FF9115 100%);
    -webkit-text-fill-color: transparent;/* 灏嗗瓧浣撹缃垚閫忔槑鑹� */
    -webkit-background-clip: text;/* 瑁佸壀鑳屾櫙鍥撅紝浣挎枃瀛椾綔涓鸿鍓尯鍩熷悜澶栬鍓� */
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s linear infinite;
}
.notice_description{
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 1.4rem;
    color: rgb(255, 196, 172);
}

@keyframes masked-animation {
    0% {
        background-position: 0  0;
    }
    100% {
        background-position: -100%  0;
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.fadeInDown {
    animation:fadeInDown 1.5s ease 1 alternate forwards;
    -webkit-animation:fadeInDown 1.5s ease 1 alternate forwards;
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    animation:fadeOutUp 1.5s ease 1 alternate forwards;
    -webkit-animation:fadeOutUp 1.5s ease 1 alternate forwards;
}