#themeInfo{
    display:none;
}
.content{
    width:80%;
    margin: 0px auto;
    background: rgba(255,255,255,0) !important;
}
.hide_box{
    z-index:999;
    filter:alpha(opacity=50);
    background:#666;
    opacity: 0.5;
    -moz-opacity: 0.5;
    left:0;top:0;
    height:99%;
    width:100%;
    position:fixed;
    display:none;
}
.shang_box {
    width: 80%;
    height: 66%;
    margin: auto;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 10px;
    position: fixed;
    z-index: 1000;
    left: 8%;
    top: 10%;
    border: 1px dotted #dedede;
    display: none;
}
.shang_box img{
    border:none;
    border-width:0;
}
.dashang{
    display:block;
    width:100px;
    margin:5px auto;
    height:25px;
    line-height:25px;
    padding:6px;
    background-color:#FF6666;
    color:#fff;
    text-align:center;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
    font-size:16px;
    transition: all 0.3s;
}
.dashang:hover{
    opacity:0.8;
    padding:8px;
    font-size:18px;
}
.shang_close{
    float:right;
    display:inline-block;
}
.shang_logo{
    display:block;
    text-align:center;
    margin:20px auto;
}
.shang_payimg{
    width:140px;
    padding:10px;
    border:6px solid #EA5F00;
    margin:0 auto;
    border-radius:3px;
    height:140px;
}
.shang_payimg img{
    display:block;
    text-align:center;
    width:140px;
    height:140px;
}
.pay_explain{
    color: #5D5D5D;
    text-align:center;
    margin:10px auto;
    font-size:13px;
}
.radiobox{
    width: 16px;
    height: 16px;
    background: url('https://blog-static.cnblogs.com/files/asio/radio2.gif');
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: -15px;
}
.checked .radiobox{
    background:url('https://blog-static.cnblogs.com/files/asio/radio1.gif');
}
.alipay{
    width: 85px;
    height: 28px;
    background-image: url(https://blog-static.cnblogs.com/files/asio/alipay.gif);
}
.wechatpay{
    width: 110px;
    height: 28px;
    background-image: url(https://blog-static.cnblogs.com/files/asio/wechat.gif);
}
.shang_tit {
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 66px;
    color: #a3a3a3;
    font-size: 16px;
    background: url(https://blog-static.cnblogs.com/files/asio/cy-reward-title-bg.gif)no-repeat;
    -webkit-background-size: 100% 75px;
    background-size: 100% 75px;
    font-family: 'Microsoft YaHei';
    margin-top: 7px;
    margin-right: 2px;
}
.shang_tit p {
    color: #a3a3a3;
    text-align: center;
    font-size: 16px;
}
.shang_payselect{
    text-align:center;
    margin:0 auto;
    margin-top:40px;
    cursor:pointer;
    height:60px;
    width:220px;
}
.shang_payselect .pay_item{
    display:inline-block;
    margin-right:10px;
    float:left;
}
.shang_info{
    clear:both;
}
.shang_info p,.shang_info a{
    color:#33CCFF;
    text-align:center;
    font-size:12px;
    text-decoration:none;
    line-height:2em;
}
.xclose{
    width: 11px;
    height: 11px;
    background-image: url("https://blog-static.cnblogs.com/files/asio/close.gif");
}